.container-fluid{
  background-color: #e7f5e0;
  height: 100%;
  font-family: "Montserrat", sans-serif;

  .btn_btn{
    background-color: #5bbd30;
    color: #FFFFFF;
    padding: 16px 75px;
    margin-bottom: 50px;
    border-radius: 18px;
  }
}
