.prop_card {
  border-radius: 20px;
  padding: 17px;
  margin-bottom: 40px;
  font-size: 15px !important;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: 'Montserrat', sans-serif;
  color: #59bd2f;
  font-weight: 700;

}

.delete_btn{
  border-color: #d11a2a;
  color: #d11a2a!important;
}
