*{
  background-color:#a1de95;;
  font-family: 'Montserrat', sans-serif;
}

.success{
  height: 100vh;
  color: #ffffff;
  text-align: center;
}

.btn_btn{
  background-color: #59BD2F;
  color: #fff;
  padding: 5px 12px;
  border-radius: 10px;
}
