.btn_btn{
  background-color: #5bbd30;
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: 500;
  width: 100%;
  padding: 5px;
}

.container h2{
  color: #56ab2f;
}

.form_card{
  border-radius: 25px;
  text-align: center;
  margin-top: 25px;
  padding: 1.5rem;
}
