.container {
  .placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }
  .user_style {
    //border: 1px solid #00000075;
    //padding: 10px 24px;
    //margin: 16px;
    border-radius: 12px;
    margin-top: 15px;


    .user_details {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .edit_icon {
      font-size: 24px;
    }
  }

  .btn_btn{
    background-color: #5bbd30;
    color: #FFFFFF;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    font-weight: 500;
    margin-top: 25px;
    text-align: center;
    width: 50px;
    height: 50px;
    right: 35px;
  }
  .add_user_btn{
    position: absolute;
    bottom: 24px;
    right: 50px;
  }


}
