.b-radius{
  border-radius: 18px;
}
.color-green{
  color: #087f23;
}

.col-h{
  height: 35px;
  margin-top: 10px;

  ion-icon{
    font-size: 28px;
    margin-right: 10px;
  }
}
.v-center{
  vertical-align: middle;
}

.col-8{
  align-self: center;
}

.margin{
  margin: 10px 0;
}
.order_card{
  border-radius: 16px;
}
