<!--<div class="container-fluid d-flex justify-content-between flex-column align-items-center ">-->

<!--  <div class="position-relative login">-->
<!--    <div class="logo">-->
<!--      <img alt="Logo" src="assets/img/logo.png">-->
<!--    </div>-->

<!--    <form class="login_form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->

<!--      <mat-form-field appearance="outline" class="w-100">-->
<!--        <mat-label>Email</mat-label>-->
<!--        <input matInput placeholder="Email" type="email" formControlName="email">-->
<!--        <mat-error>User with this email is not registered</mat-error>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field appearance="outline" class="w-100">-->
<!--        <mat-label>Password</mat-label>-->
<!--        <input matInput placeholder="Password" type="password" formControlName="password">-->
<!--      </mat-form-field>-->

<!--      <div class="text-center">-->
<!--        <button class="btn_btn" mat-raised-button type="submit">Login</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--  <p class="sign_up">Didn't have an account?<span>Sign Up</span></p>-->
<!--</div>-->
